.parajjax {
    overflow: hidden;
    font-size: 0;
    position: relative;
    height: 100vh;
    min-height: 420px;
}

.parajjax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.parajjax-layer img {
    width: 100%;
    height: auto;
}
